
# NodeJS
node_modules

# SSL
configuration/ssl

# Temp files
scripts/*.tmp

# Documentation
doc/build/

# Python
*.pyc
*.egg-info
*.egg

# Framework
framework/docs/build/
framework/dist/
framework/build/
