# WAZUH API Service (Systemd unit)
# Wazuh Inc.
# April 11, 2016

[Unit]
Description=Wazuh API daemon
Documentation=https://documentation.wazuh.com/current/user-manual/api/index.html
After=network-online.target

[Service]
Type=simple
ExecStart=
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
